[Unit]
Description=Wiki Live Wallpaper Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true
Unit=wiki-wallpaper.service

[Install]
WantedBy=timers.target
