[Desktop Entry]
Name=Night Light
Comment=Toggle night light (redshift)
Exec=/home/sourov/bin/night-light-control
Icon=weather-clear-night
Terminal=false
Type=Application
Categories=Settings;
StartupWMClass=NightLight